.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
  align-items: center;
  border: 2px dashed var(--mainColor);
  margin: 1rem;
  background-color: #fff;
  color: var(--mainColor);
  border-radius: 2rem;
}
.tokme {
  display: flex;
  gap: 14rem;
  align-items: center;
  margin-bottom: 2rem;
}
.container a {
  color: var(--mainColor);
  font-size: 1.8rem;
}
.container img {
  width: 13rem;
  height: 20rem;
  margin-top: 2rem;
}
.tokme button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: var(--mainColor);
}
