.container {
  text-align: center;
  margin-left: 1.4rem;
}
.container img {
  width: 25rem;
  height: auto;
  margin-bottom: 3rem;
}
.link {
  text-decoration: none;
  background-color: var(--mainColor);
  color: #fff;
  padding: 3px 8px;
  padding-bottom: 8.3px;
  border-radius: 5px;
  font-size: 1.6rem;
}
