:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --mainColor: #e8590c;
  --backgroundColorodd: #fadece;
  --backgroundColoreven: #f6bd9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(233, 242, 249);
  max-width: 93rem;
  margin: 0rem auto;
}
